* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

#container {
    height: 100vh;
    background-color: #111143;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

/* lights */

.lights {
    height: 32vh;
    width: 32vh;
    border: 2px solid #000;
    border-radius: 1rem;
}

#red {
    background-color: crimson;
    box-shadow: 0 0 4rem crimson;
}

#green-minus {
    border: 2px solid #4c4;
    background-color: #020225;
}

#green-plus {
    background-color: #4c4;
    box-shadow: 0 0 4rem #4c4;
}

/* buttons */

.btn {
    height: 6rem;
    width: 10rem;
    background-color: #020225;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

#off-pressed {
    background-color: crimson;
}

#off-unpressed {
    border: 2px dotted crimson;
    color: crimson;
    cursor: pointer;
}

#on-pressed {
    background-color: #4c4;
}

#on-unpressed {
    border: 2px dotted #4c4;
    color: #4c4;
    cursor: pointer;
}
